html,

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
/* ContractForm.css */

body {
  height: 100%;
  width: 100%;
  font-family: 'DM Sans', sans-serif;
}

/* Navigasi */
.navbar {
  position: relative;
  top: 0px;
  z-index: 30;
  width: 100%;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 83.33333%;
}

.button-connect {
  background-color: #8053FF;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  color: white;
  border:transparent;
  border-radius: 8px;
}

.judul {
  color: #23155B;
  font-size: 38px;
}

/* End Navigasi */

/* Header */
.header {
 gap: 16px;
 background-color:#f3f4f6;
 padding-top: 78px;
 padding-bottom: 78px;
}

.judul-header {
  color: #23155B;
  font-size: 56px;
}

.content-header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 83.33333%;
  justify-content: center;
  align-items: center; 
}

.jarak-button {
  margin: 12px;
}

.text-header {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color: #23155B;
}

.button-header {
  background-color: #8053FF;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 15px;
  color: white;
  border:transparent;
  border-radius: 8px;
}

.input-scan {
  width:25.33333%;
  height: 44px;
  border-color:#8053FF;
  border-radius: 8px;
}

.text-kecil {
  font-size: 12px;
  margin-bottom: 56px;
}

@media (max-width: 414px) {
  .judul {
    width: 100%;
  }

  .header-button {
    display: flex;
    flex-direction: column;
  }

  .text-header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }  

  .input-scan {
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .jarak-button {
    width:100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768) {
  .text-header {
    width: 100%;
  }  

  .judul {
    width: 100%;
  }
}

@media (min-width: 768) {
  .header {
    height: 100%;
    padding-bottom: 0;
  }


  .header-button {
    display: flex;
    height: 83.33333%;
  }
}
/* End Header */

/* Support By */
.support {
  height: 150px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.support-by {
  margin-left: auto;
  margin-right: auto;
  width: 83.33333%;
  text-align:center;
}

.sponsor {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-wrap: wrap;
  width: 83.33333%;
  justify-content: space-between;
  align-items: center; 
  display: flex;
  gap: 8px;
  padding-bottom: 40px;
  padding-top: 20px;
}


@media (max-width: 414px) {
  .sponsor {
    display: none;
    /* flex-direction: column; */
  }

  .support-header {
    display:none;
  }


  .support {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

/* End Support */

/* Scan Summary */
.scan {
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  width: 83.33333%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
}

.scanner {
  margin-top: 5px;
  border-radius: 1px;
  /* border: 1px solid; */
  padding: 1rem 2.5rem;
  text-align: center;
  width: auto;
  box-shadow: 3px 3px 10px gray;
}

.scanner-question {
  margin-top: 5px;
  border-radius: 1px;
  /* border: 1px solid; */
  padding: 1rem 2.5rem;
  text-align: left;
  width: auto;
  box-shadow: 3px 3px 10px gray;
}


.nomor {
  color: #8053FF;
  padding-right: 20px;
  font-size: 24px;
  font-weight: bold;
}

.separator {
  display: flex;
}


@media (min-width: 768px) { 
  .summary {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 8px;
  }
}

@media (max-width: 414px) {
  .summary {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 414px;
    height: 100%;
  }

  .scanner {
    width: fit-content;
  }

  .separator {
    display:flex;
    gap: 16px;
  }
}
/* End Scan */


.bold-text {
  font-weight: bold;
}

/* Miringkan teks yang berasal dari desc_question */
.italic-text {
  font-style: italic;
}

